nav.navigation
  .navigation__left
  .navigation__center
    a.navigation__link(href="/") endurance north
  .navigation__right
    a.navigation__link(href="/cart") cart.
    a.navigation__link(href="/about") about.
