extends ../base.pug

block variables
  - var template = 'about'

block body
  .about
    .about__content
      .about__top__section
        .about__top__section__left
          p.about__top__section__side__text we don't <br>simply sell<br> clothes
        .about__top__section__right
          h3.about__top__section__main__text created to be <br>a concept of a <br>luxury brand's<br> website.
      .about__mid__section
        .about__marquee it's not only about standards
      .about__bottom__section
        .about__bottom__section__left
          p.about__bottom__section__left__side__text sometimes <br>it's all about the <br><em>exclusiveness
        .about__bottom__section__right
          figure.about__bottom__section__right__media
            img.about__bottom__section__right__image(src=about[0].data.image.url)
