extends ../base.pug

block variables
  - var template = 'home'

block body
  .home
    .home__content
      .home__gallery
        .home__gallery__wrapper
          each image in gallery
            figure.home__gallery__media
              img.home__gallery__media__image(src=image, data-src=image)
      .home__titles
        .home__titles__wrapper
          h2.home__titles__title casual
          h2.home__titles__title elegant
          h2.home__titles__title street
          h2.home__titles__title winter
          h2.home__titles__title teen

      .home__store__content
        hr.home__store__stripe
        a.home__store__link(href='/store') visit our store
        hr.home__store__stripe

      h3.home__scroll__advise scroll to explore our collections
